
@font-face {
  font-family: 'GlacialIndifference';
  src: url("/fonts/glacial-indifference.regular.otf") format("opentype");
}

@font-face {
  font-family: 'Maragsa';
  src: url("/fonts/Maragsa-Display.woff2") format("woff2");
}

body {
  font-family: 'Maragsa';
  background-image: url('/public/background.jpg');
  margin: 0;
}






h1 {
  font-size: 4.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.albumCard {
    border: 2px solid #ff66c4;
    border-radius: 1rem;
    padding: 1rem;
    width: 250px;
    background-color: #ffffff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: center;
      font-family: "GlacialIndifference";
      cursor: pointer;
      transition: transform 0.2s ease;
}

.albumCard:hover {
  transform: scale(1.03);
}

.albumCard h2 {
  font-size: 1.75rem ;
  color: hotpink;
}

.albumCard p {
  font-size: 20px ;
}

.albumCard button { /* edit & delete buttons */
  background-color: #ff66c4;
  font-family: "Maragsa";
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 0.3rem;
  cursor: pointer;


}

.albumCard-buttons { /* container for edit & delete buttons */
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;

}


.add-album  { /* add album button */
  border-radius: 3rem;
  background-color: #ff66c4; 
  font-family: "Maragsa";
  font-size: 1rem;
  color: white; 
  border: none; 
  width: 40%;
  align-self: center;
  padding: 0.5rem;
  cursor: pointer;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
 display: flex;
  background-color: #f4cfe6;
  border-radius: 3rem;
  padding: 2rem;
  border: #d1c9c9 solid 2px;
  gap: 10px;
  width: 25%;
  flex-direction: column;
}

.input-form input, .input-form textarea {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.search-container input {
  border-radius: 10px;
  padding: 8px;
  border: solid 1px #ccc;
}
.search-container button {
    background-color: #ff66c4;
    border-radius: 3rem;
    font-family: "Maragsa";
    border: none;
    color: #fff;

  font-size: 1rem;
  align-self: center;
  padding: 0.5rem;
  cursor: pointer;

}

.album-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}



.success-message {
  display: flex;
  justify-content: center;
  color: blue;
  font-size: 2.5rem;

}

/* media queries */
@media (max-width: 768px) {

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .input-form {
    width: 70%;
    padding: 2rem;
  }

  .albumCard {
    width: 90%;
  }

  .album-grid {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .add-album {
    width: 100%;
  }
}